body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.case-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.case-badge.status-active {
  background-color: #C8E6C9;
  color: #256029;
}

.case-badge.status-inactive {
  background-color: #FFCDD2;
  color: #C63737;
}

.case-badge.activity-action {
  background-color: #C8E6C9;
  color: #256029;
}

.case-badge.activity-no_action {
  background-color: #FFCDD2;
  color: #C63737;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

